
<h1>{{ title }}</h1>
{{> welcome }}

{{#if user}}
    <p>You are currently logged in as {{ user.username }}</p>
    <a href="/auth/logout">Logout</a>
{{else}}
    <a href="/auth/login">Login</a>
    <br/>
    <a href="/auth/register">Register</a>
{{/if}}

<h1>Testing helpers/partials</h1>

{{!-- Insert predefined helpers --}}
{{ yell 'yell' }}
{{ global_helper }}
{{ global_helper2 }}
{{ specific_helper }}

{{!-- Insert predefined patials --}}
{{> global_partial }}
{{> shared_partial }}

{{!-- This partial could be missing so use the '{{#>' syntax --}}
{{#> specific_partial }}
    Missing specific partial
{{/ specific_partial }}


